.product-list{
	list-style:none;
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	width:70%;
	margin:100px auto;
}

.header-container{
	width:100%;
	.header{
	text-align:center;
	font-size:3rem;
	border:3px solid black;
	margin: 0 40% 0;
	}
}