.add-btn{
	border:none;
	outline:none;
	background:none;
	border-radius:3px;

	&:hover{
	cursor:pointer;
	background:#dedede;
	}
}

.single-ingredient{
	border: 2px solid #d6c0c0;
	padding: 5px;
	margin-bottom: 5px;
	border-radius: 3px;
	background-color:#ecf9f9;
}