
@font-face{
	font-family:'hastoler';
	src:url('/assets/fonts/hastoler.otf')
}
@font-face{
	font-family:'third_rail';
	src:url('/assets/fonts/third_rail.ttf')
}

html,body{
	overflow-x:hidden;
	font-family:'hastoler';
}

