.item{
	display:flex;
	flex-direction:column;
	width:100%;

	&-wrapper{
	border-radius:50%;
	width:60%;
	margin:0 auto;
	height:200px;
	margin-bottom:15px;
	cursor:pointer;
	box-shadow:1px 1px 3px 3px rgba(0,0,0,.6);
	transition:.5s ease-in;

	&:hover{
	opacity:.8;
	box-shadow:1px 1px 8px 1px rgba(0,0,0,.6);
	}
	&.warning{
	background: #fc4a1a; 
	background: -webkit-linear-gradient(to right, #f7b733, #fc4a1a);
	background: linear-gradient(to right, #f7b733, #fc4a1a);
	}

	&.success{
	background: #00b09b; 
	background: -webkit-linear-gradient(to left, #96c93d, #00b09b); 
	background: linear-gradient(to left, #96c93d, #00b09b); 
	}
	&.info{
	background: #667db6; 
	background: -webkit-linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);
	background: linear-gradient(to right, #667db6, #0082c8, #0082c8, #667db6);

	}
	&.primary{
	background: #23074d;
	background: -webkit-linear-gradient(to left, #cc5333, #23074d); 
	background: linear-gradient(to left, #cc5333, #23074d); 
	}
	.item-title{
	position:relative;
	text-align:center;
	top:40%;
	text-transform:uppercase;
	font-size:150%;
	font-family:'third_rail';
	z-index:40;
	}
	.icon{
	z-index:30;
	font-size:7rem;
	color:white;
	opacity:.4;
	text-shadow: 1px 4px 6px rgba(0, 0, 0, 0.87);
	position:relative;
	text-align:center;
	}
	}
	
}